DATABASE_URI="YOUR MONGODB URI"
DATABASE_NAME="YOUR MONGODB DATABASE NAME"
FLASK_KEY="YOUR FLASK SECRET KEY"
JWT_KEY="YOUR SECRET 256 BIT PASSKEY FOR SIGNING JWT TOKENS"
JWT_ALGORITHM="ALGORITHM FOR JWT TOKENS(USE HS256)"
JWT_ACCESS_TOKEN_EXPIRES="ACCESS TOKEN EXPIRY IN MINUTES"
JWT_REFRESH_TOKEN_EXPIRES="REFRESH TOKEN EXPIRY IN MINUTES"